<aside class="chat-sidebar">
    <div class="chat-sidebar-header">
        <div class="chat-header-profile-nav">
          {{{link}}}
        </div>
        {{{search}}}
    </div>
    <div class="chat-sidebar-chat-list">
        {{{chats}}}
    </div>
</aside>
