<div class="chat-area">
    {{{header}}}
    <div class="chat-area__messages">
        <div class="timeline-date">19 June</div>
        {{{messages}}}
    </div>
    <div class="chat-area__footer">
        <div class="message-bar">
            {{{sendMessage}}}
        </div>
    </div>
</div>
