.chat-area {
    display: grid;
    width: 100%;
    max-height: 100vh;
    grid-template-rows: 63px 1fr 47px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--color-grey-wolf);
    }

    &__messages {
        overflow-y: scroll;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    &__footer {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-top: 1px solid var(--color-grey-wolf);
    }
}

.timeline-date {
    border: 1px solid var(--color-grey-shadow);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    padding: 0.1rem 0.5rem;
    cursor: pointer;
    font-size: 0.75rem;
    width: fit-content;
    margin: 0.5rem auto;
}

.chat-header-media {
    display: flex;
    align-items: center;

    &__title {
        margin-left: 0.5rem;
    }
}

.message-bar {
    display: flex;
    align-items: center;

    &__message-input {
        margin-left: 0.25rem;
        margin-right: 1rem;
    }

    &__send-message {
        width: 28px;
        height: 28px;
        border: none;
        cursor: pointer;
    }
}
