<div class="add-chat-modal">
  <div class="add-chat-modal__title">Find user: {{{input}}}</div>
  <div class="add-chat-modal__content">
    {{{users}}}
  </div>
  <div class="add-chat-modal__footer">
    {{{button}}}
  </div>
</div>
