<div class="manage-chat-user-modal">
  <div class="manage-chat-user-modal__title">Find user: {{{input}}}</div>
  <div class="manage-chat-user-modal__content">
    {{{users}}}
  </div>
  <div class="manage-chat-user-modal__footer">
    {{{button}}}
  </div>
</div>
