<div class="add-chat-modal">
  <div class="add-chat-modal__title">Type chat name</div>
  <div class="add-chat-modal__content">
    {{{input}}}
  </div>
  <div class="add-chat-modal__footer">
    {{{button}}}
  </div>
</div>
