<div class="dropdown {{externalClasses}}">
    <div class="dropdown__trigger">
        {{{trigger}}}
    </div>
    <div class="dropdown__content {{position}}">
        {{{content}}}
    </div>
</div>
