<div class="chat-area__header">
  <div class="chat-header-media">
    {{#if avatar}}
      {{{avatar}}}
    {{/if}}
    {{#if name}}
      <h5 class="chat-header-media__title">{{name}}</h5>
    {{/if}}
  </div>
  {{{actions}}}
</div>
